{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Tennis Clubs{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">Choose your tennis club:</h1>
    <hr class="my-4">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="Search for your tennis club...">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <hr class="my-4">
        <div class="row">
            {% for club in all_clubs %}
                <div class="col-sm-3">
                    <div class="card card-add" style="">
                    {% thumbnail club.main_image "300x300" crop="100%" as im%}
                        <img src="

                                {% if im %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                             alt={{ club.name }}>

                        <div style="text-align: center">
                            <h4 style="text-align: center">{{ club.name }}</h4>
                        </div>
                        <ul class="list-group list-group-flush card-class">
                            <li class="list-group-item">{{ club.address }}</li>
                            <li class="list-group-item">{{ club.zip_code }}</li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-primary">Go to Courts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}