{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Tennis Clubs{% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">Choose your tennis club:</h1>
    <hr class="my-4">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="Search for your tennis club...">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <hr class="my-4">
        <div class="row">
            {% for club in all_clubs %}
                <div class="col-sm-3">
                    <div class="card card-add" style="">
                    {% thumbnail club.main_image "300x300" crop="100%" as im%}
                        <img src="

                                {% if im %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                             alt={{ club.name }}>

                        <div class="card-body" style="text-align: center">
                            <h5 class="card-title">{{ club.name }}</h5>
                            <p class="card-text">{{ club.address }}</p>
                            <p class="card-text">{{ club.zip_code }} {{ club.city.name }}</p>
                            <a href="#" class="btn btn-primary" style="width: 100%">Go to Courts</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static "js/main.js" %}"></script>
{% endblock %}