{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
        <div class="main">
        </div>
        <div class="jumbotron jumbotron-addons">
            <h1 class="display-4">Courts Reservation!</h1>
            <p class="lead">Welcome on courtsreservation.com! Log in and start your journey with tennis!</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{% url "login" %}" role="button">Log In</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>
{% endblock %}