.main{
    height: 450px;
    background: url("../img/tennis.jpg");
    background-position: -100px -500px;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
}

.card-class {
    background-color: white;
    text-align: center;
}

.card-add {
    height: 500px;
    margin-bottom: 50px;
}

.jumbotron-addons {
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}